html{
    text-align: center;
}
#content {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #6E6E6E;
    border : 1px solid black;
    padding:2%;
}

.adv {
    width : 30px;
    height : 30px;
    border : 1px solid black;
    background-color: azure;
}

.player {
    width : 30px;
    height : 30px;
    border : 1px solid black;
    background-color: azure;
}

table {
    margin-left :5%;
    margin-right : 5%;
}

button {
    width: 30px;
    height: 30px;
}

h1 {
    text-align: left;
    background-color: aqua;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    padding-left: 50px;
    border : 1px black solid;
}

#tableJoueur {

}

#tableOrdi {

}

#notif {
    color : red;
}
 #reset {
     border-radius : 2px;
     width:auto;
     height : auto;
     padding : 10px;
     background-color: aqua;
     border : 1px solid black;
 }

table {
     margin:auto;
 }

 #global, td {
     text-align: center;
 }

 .titreT {
     color : azure;
 }
