/*
le titre de chapitre commence à h3
pour le code html utiliser la classe html
pour mettre des mots en évidence : em


*/
body {
	font-family: Verdena, Geneva, Arial, Sans-serif;
	font-size: large;
	background: #cbd888;
}

h3 {
	font-size: 22px;
	padding: 20px;
	background-color:#2C2F22;
	color:#cbd888;
	margin: auto;
	width:30%;
	text-align:center;
	border: solid;
	border-color: #B22222;
	letter-spacing: 7px;
}
div{margin:2%;}
table {
	font-family: Verdena, Geneva, Arial, Sans-serif;
	margin-left: auto;
	margin-right: auto;
	border: thick solid #B22222;
	border-collapse: collapse;font-size: large;
}

td {
	border: thin dotted #2F4F4F;
	padding: 3px;
	text-align: left;
}

.semaine {
	border-top-style:solid;
	border-width: medium;
}

.milieu{
	text-align: center;
}
em{color:#CC3300;
	font-weight: bold;
	font-style:normal;
	}