html {
	text-align: center;
}

table {
	margin : auto;
}

td {
	text-align: center;
}

.cel {
	width:30px;
	height:30px;
	border : 1px solid black;
	text-align: center;
}

.bouton {
	width:32px;
	height:32px;
	text-align: center;
}

.notif {

}