<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Gimme</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>poo</param-name>
    <param-value>Emmeline Leconte</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>Index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Controleur</servlet-name>
    <servlet-class>gimme.servlets.Controleur</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>D:/fichiers/</param-value>
    </init-param>
    <multipart-config>
      <location>D:/fichiers</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleur</servlet-name>
    <url-pattern>/soumettre.html</url-pattern>
  </servlet-mapping>
</web-app>