

body {

  color: #000000;
  background-color: #B36B00;
  padding: 1em 2em 2em 2em;
  font-size: large;
}



div.film {
  color: inherit;
  background-color: #FFE6BF;
  padding: 1em 2em 2em 2em;
  margin-bottom: 1em;
}


h1 {

  color: #FFFFFF;
  background-color: inherit;
  text-align: center;

}
h2 {

  color: #FF9900;
  background-color: inherit;
  text-align: left;

}

p {

  padding: 0em 1em 1em 1em;
}

img.photo {

  float: right;
}
.films{
	color: maroon;
	font-stretch: wider;
	font-style :italic;
	font-size: large;
	font-family: fantasy;
	background-color: #FF9900;
	margin-left: 10%;
	margin-right: 10%;}
.films a:HOVER {
	background: yellow;
	color:maroon;
}
.films a{
	color:maroon;
}
.films a:visited{
	color:maroon;
}