/* mettre par défaut toutes les marges intérieures et extérieures à 0 */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

/************************************************ Partie HEADER **********************************************************************/
header {
	margin: auto;
	text-align: center;
	background: grey;
}

/************************************************ Partie CENTRALE **********************************************************************/
#corps {
	margin-left: auto;
	margin-right: auto;	
		width: 100%;
}

article {
	margin: 5%;
	padding: 5%;
	width: 30%;
	height : 40%;
	display: inline-block;
	background: #F7E0AE;
	border: 1px solid;

	vertical-align: top;
}

h4 {
	text-decoration: underline;
}

ul {
	margin: 10px;
}

/************************************************ Partie FOOTER **********************************************************************/
footer {
	height: 50px;
	background: grey;
	color: white;
	text-align: center;
}

footer p {
	padding-top: 15px;
}

/************************************************ Partie Formulaire **********************************************************************/
form * {
	margin: 10px;
}